* {
  padding: 0;
  margin: 0;
}
.countapp{
  border: 2px solid black;
  margin: 5%;
}
.heading {
  font-size: 100px;
  margin-top: 5%;
}
.line {
margin-top: 3%;
font-weight: 900;
}
.value {
 margin-top: 3%;
}
.btn-outline-info{
  margin-top: 2%;
}
.btn-outline-warning{
  margin-top: 5%;
  margin-bottom: 8%;
}


